<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="getInitialPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <post *ngFor="let post of feedPosts" [post]="post"></post>

  <ion-card *ngIf="isEmpty">

    <ion-card-header>
      This is your feed
    </ion-card-header>

    <ion-card-content>
      <p>
        In your feed  you can find the latest activity by users you follow.
        It looks like you don't follow anyone right now. 😞
      </p>
      <p (tap)="selectDiscoverTab()"><strong class="discover-btn">Discover</strong> people you like! 😎</p>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll [threshold]="'200%'" [enabled]="isInfiniteScrollEnabled" (ionInfinite)="getPosts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

