post {
  @media screen and (max-width: 400px) {
    .hidden-xs {
      display:none;
    }
  }

  .tag{
    color: color($colors, secondary);;
    margin-top: 5px;
  }

}

.sto{
  width: 100% !important;
}

.post-img{
  min-height: 150px;
}
